.start-screen {
  height: 100vh;
  width: 100vw;
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-card {
  width: min(90%, 700px);
  padding: 24px;
  border: 4px solid #fff;
  background: #111;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  animation: crt-fade 1.2s ease-out;
  position: relative;
  z-index: 4;
}

.start-btn {
  margin-top: 24px;
  padding: 14px 24px;
  font-size: 20px;
  background: #ffcc00;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  width: 100%;
  border-radius: 4px;
  transition: 0.2s;
}

.start-btn:hover {
  background: #ffe066;
  transform: scale(1.03);
}
